<footer class="footer ">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm text-center">
        <h6>Hilfe</h6>
        <a href="">Q&A</a>
      </div>
      <div class="col-sm text-center">
        <h6>Kontakt</h6>
        <p>UHD: Tel.Nr 069 9566 2323</p>
      </div>
      <div class="col-sm text-center">
        <h6>Links</h6>
        <a href="">Intranet </a>
      </div>
    </div>
  </div>
  <div class="text-center py-2">
    Copyright 2020 @ Team Yoshi
  </div>

</footer>