<footer class="footer bg-dark text-light">
  <hr>
  <div class="container bg-dark">
    <div class="row">
      <div class="col-sm text-center">
        <h6>Hilfe</h6>
        <a href="">Q&A</a>
      </div>
      <div class="col-sm text-center">
        <h5>Kontakt</h5>
        <p>UHD: Tel.Nr 069 9566 2323</p>
        <p>mail@kundenservice.de</p>
      </div>
      <div class="col-sm text-center">
        <h5>Links</h5>
        <a href="">Intranet</a><br>
        <a href="">Personalservice</a><br>
        <a href="">Weiteres</a>
      </div>
    </div>
  </div>
  
  <div class="bg-dark text-center py-2">
    <hr>
    Copyright 2021 @ Team Yoshi
  </div>

</footer>