<div class="container">
    <form>

        <!-- Feld 1 -->
        <div class="form-group">
          <label for="formGroupExampleInput">Example label</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>

        <!-- Feld 2 -->
        <div class="form-group">
          <label for="formGroupExampleInput2">Another label</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>


        <!-- Bundesbank Standort  -->
        <div class="form-group">
            <label for="formGroupExampleInput2">Standort </label>
            <select class="form-select" aria-label="Default select example">
                <option selected> Bundesbank Standort wählen..  </option>
                <option value="1">Mock 1</option>
              </select>
        </div>
        
        <!-- Gebäude wählen -->
        <div class="form-group">
            <label for="exampleFormControlSelect2">Gebäude</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>Tr</option>
              <option>Sk</option>
              <option>FBC</option>
            </select>
          </div>
        
    </form>
</div>

