<div class="card mt-3">
  
    <div class="container px-5 py-1" id="icon-grid">
      <h3 class="card-title mt-2"> <i class="bi bi-question-circle-fill me-2" ></i> Wie funktioniert FleDeBoB? </h3>
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-3">
        <div class="col d-flex align-items-start">
          <i class="bi bi-calendar-week me-2" style="font-size: 2rem;"></i>
          <div>
            <h4 class="fw-bold mb-0">Besuch planen</h4>
            <p>Überlege dir, wann du in den nächsten Tagen in die Bundesbank gehen möchtes. Melde dich mindestens einen Tag vor dem Besuch im Büro an! </p>
            <!-- <button type="button" class="btn btn-primary">Primary</button> -->
          </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi bi-pc-display me-2" style="font-size: 2rem;"></i>
          <div>
            <h4 class="fw-bold mb-0"> Arbeitsplatz auswählen  </h4>
            <p> Nutze die praktische Filterung von FleDeBoB und suche dir den passenden Arbeitsplatz für deinen Diensttag aus! </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi bi-chat-right-quote me-2" style="font-size: 2rem;"></i>
          <div>
            <h4 class="fw-bold mb-0"> Zuteilung erhalten </h4>
            <p> Das System teilt dir am Morgen des Besuchs im Büro deinen Arbeitsplatz zu. </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi bi-people me-2" style="font-size: 2rem;"></i>
          <div>
            <h4 class="fw-bold mb-0"> Entspannt zur Arbeit gehen! </h4>
            <p> Freue dich auf einen tollen Tag im Büro! </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
