<form class="mx-auto">
    <h1 class="h3 mb-3 fw-normal">Ihre Nutzerkennung</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@beispiel.de">
      <label for="floatingInput">Email-Adresse</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Passwort">
      <label for="floatingPassword">Passwort</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Anmeldedaten speichern
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Anmelden</button>
  </form>