<div class="card w-100 mt-3 mb-3">
    <div class="card-body">
      <h5 class="card-title"> Herzlich Willkommen beim HappyDesk! </h5>
      <p class="card-text">Bitte wählen Sie im Folgenden Ihre Präferenzen aus oder lassen Sie sich einen Arbeitsplatz zuweisen</p>
      
      <a href="#" class="btn btn-primary ">Arbeitsplatz suchen </a>

      <a href="preferences" class="btn btn-secondary ms-2"> Präferenzen wählen! </a>
    </div>
  </div>

<app-slideshow >

</app-slideshow>

<app-benefits></app-benefits>


