<div class="card w-100 mt-3 mb-3">
    <div class="card-body">
      <h5 class="card-title"> Herzlich Willkommen beim HappyDesk! </h5>
      <p class="card-text">Bitte melden Sie sich im Folgenden für den HappyDesk an, um sich Ihren Arbeitsplatz zuweisen zu können</p>
      
      <div class="text-center">
        <a href="/login" class="btn btn-primary my-auto mx-auto btn-lg"> Anmelden </a>
      </div>
      

    </div>
  </div>

<app-slideshow >

</app-slideshow>

<app-benefits></app-benefits>


