<div class="card my-2">
  <div class="container py-2">
    <div class="row">
      <div class="col-sm py-2">
        <h5>Standort</h5>


        <div class="col-auto col-sm my-2">
          <label class="visually-hidden" for="autoSizingInputGroup">City</label>
          <div class="input-group">
            <div class="input-group-text"><i class="bi bi-geo-alt-fill"></i></div>
            <select class="form-select" aria-label="Default select example">
              <option selected>Wähle deine Stadt</option>
              <option value="1">Frankfurt</option>
              <option value="2">Düsseldorf</option>
              <option value="3">München</option>
            </select>
          </div>

        </div>

        <div class="col-auto col-sm  my-2">
          <label class="visually-hidden" for="autoSizingInputGroup"> Building </label>
          <div class="input-group">
            <div class="input-group-text"><i class="bi bi-house"></i></div>
            <select class="form-select" aria-label="Default select example">
              <option selected>Wähle deine Gebäude </option>
              <option value="1">Trianon</option>
              <option value="2">FBC</option>
              <option value="3">Skyper</option>
            </select>
          </div>
        </div>

      </div>
      <div class="col-auto col-sm py-2">
        <h5>Datum</h5>

        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-calendar-week-fill"></i>
          </span>
          <input type="date" class="form-control datepicker" id="date" placeholder="TT.MM.JJJJ" required>
        </div>

    </div>
      <div class="col py-2">
        <h5>Wiederkehrende Buchung</h5>
        <input class="form-check-input mx-1" type="checkbox" id="weekly" />
        <label class="form-check-label" for="weekly">
          wöchentliche Wiederholung
        </label>
      </div>
    </div>
  </div>





</div>

<div class="row">
  <div class="col-md-3">

    <div class="card mb-2 ">
      <div class="card-header">
        Technische Austattung <i class="bi bi-tools"></i>
      </div>

      <div class="mx-2">
        <div class="form-check">
          <label class="form-check-label" for="twomonitors">
            Mehr als zwei Monitore ({{ predictMoreThanTwoMonitors()}})
          </label>
          <input class="form-check-input" type="checkbox" [(ngModel)]="this.filter.moreThanTwoMonitors" id="twomonitors"
            (ngModelChange)="filterChange()" />
          
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"
            [(ngModel)]="this.filter.ergonomicMouse" (ngModelChange)="filterChange()">
          <label class="form-check-label" for="flexCheckIndeterminate">
            ergonomische Maus ({{ predictErgonomicMouse()}})
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="dockingstation"
            [(ngModel)]="this.filter.dockingstation" (ngModelChange)="filterChange()">
          <label class="form-check-label" for="dockingstation">
            Dockingstation  ({{ predictDockingStation()}})
          </label>
        </div>
      </div>

      <div class="card-header">
        Arbeitsplatzumfeld <i class="bi bi-pc-display"></i>
      </div>
      <div class="mx-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="singleOffice"
            [(ngModel)]="this.filter.singleOffice" (ngModelChange)="filterChange()">
          <label class="form-check-label" for="singleOffice">
            Einzelbüro ({{ predictSingleOffice()}})
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="window"
            [(ngModel)]="this.filter.window" (ngModelChange)="filterChange()">
          <label class="form-check-label" for="window">
            Fensterplatz ({{ predictWindow()}})
          </label>
        </div>

        <!-- <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
          <label class="form-check-label" for="flexCheckIndeterminate">
            Gang
          </label>
      </div> -->

      </div>



      <div class="card-header ">
        Sonstiges <i class="bi bi-columns"></i>
      </div>

      <div class="mx-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="elevator">
          <label class="form-check-label" for="elevator">
            Fahrstuhlnähe
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="kasino">
          <label class="form-check-label" for="kasino">
            Kantine im Gebäude
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="cafeteria">
          <label class="form-check-label" for="cafeteria">
            Cafeteria im Gebäude
          </label>
        </div>

        <!-- <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
          XXX
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
          XXX
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
          XXX
        </label>
    </div> -->
      </div>



    </div>

  </div>
  <div class="col ">

    <div class="list-group">
      <a class="list-group-item list-group-item-action active" aria-current="true">
        <i class="bi bi-arrow-90deg-down"></i> Wählen Sie hier ihren gewünschten Arbeitsplatz aus. (Aktuell mögliche
        Ergebnisse: {{ filteredDesks.length }})
      </a>
      <a routerLink="/desk/{{desk.id}}" class="list-group-item list-group-item-action flex-column align-items-start"
        *ngFor="let  desk of filteredDesks">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ desk.name}}</h5>
          <small *ngIf="desk.available"> ✔ Verfügbar </small>
          <small *ngIf="!desk.available"> ❌Aktuell nicht verfügbar </small>
        </div>
        <!-- <p class="">Ausstattung: </p> -->
        <ul>
          <li *ngIf="desk.moreThanTwoMonitors">Mehr als zwei Monitore </li>
          <li *ngIf="desk.ergonomicMouse">Ergonomische Maus ist verfügbar </li>
          <li *ngIf="desk.dockingstation">USB-C Dockingstation für Notebooks </li>
          <li *ngIf="desk.window">Arbeitsplatz am Fenster </li>
          <li *ngIf="desk.singleOffice">Arbeitsplatz befindet sich in einem Einzelbüro </li>


        </ul>



      </a>
    </div>

  </div>
</div>
